<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
<title>JSF Greeting!</title>
</h:head>
<h:body>
<h:form>
         Enter your Name 
<h:inputText value="#{myBean.name}" required="true" />
<h:commandButton value="Submit" action="greeting" />
</h:form>
</h:body>
</html>